<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="SCDBuildStep"
   iconfile="scdbuilder.svg"
   description="SCD build"
   tooltip="Builds a fast in-memory Type 2 Slowly Changing Dimension"
   category="i18n:org.pentaho.di.trans.step:BaseStep.Category.DataWarehouse"
   classname="com.bayesforecast.ingdat.scdsteps.scdbuilder.SCDBuildStepMeta">
   <libraries>
    <library name="scdbuilder.jar"/>
    </libraries>
    
   <localized_category>
     <category locale="en_US">Data Warehouse</category>
     <category locale="nl_NL">Data Warehouse</category>
     <category locale="fr_FR">Data Warehouse</category>
     <category locale="es_ES">Data Warehouse</category>
   </localized_category>
   <localized_description>
     <description locale="en_US">SCD build</description>
     <description locale="es_ES">Construir SCD</description>
   </localized_description>
   <localized_tooltip>
     <tooltip locale="en_US">Builds a fast in-memory Type 2 Slowly Changing Dimension</tooltip>
   </localized_tooltip>
   
</plugin>
